body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 86px;
    flex-shrink: 0;
    background: #020064;
}

img{
    width: 75px;
    height: 71.25px;
    flex-shrink: 0;
    margin-left: 10px;
    margin-top: 7px;
    }

#acesso_paginas{
    display: flex;
}


.link_paginas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white;

}

a{
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
}

#pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

}
p{
    font-size: 25px;
    text-align: justify;
}

#opcoes{
    display: flex;
    flex-wrap: wrap;}
  

.bloco{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 100px;
    border-radius: 10px;
    margin: 5%;
    background-color: #acabe4;


}

#bloco_selecionado{
    color: #020064;
    background-color: #acabe4;
    font-size: 20px;
}

.ficha_membro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20;
}

.foto_membro{
    margin: 10px;
    border-radius: 100%;
}

#rodape{
    width: 100%;
    height: 86px;
    flex-shrink: 0;
    background: #0d0dac;
}